<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
        <h1>Mass Upload Tool by Degen</h1>
    </header>
    <h1>About the Website</h1>
  <p>
    This website is an open-source Roblox decal bypass tool, using image modification to trick the moderation in thinking each image is a different image.
  </p>
  <p>
    I made this website because mass uploading decals is a usefull method for uploading decals.</p>
  <p>
    If you have any ideas, or want to collab with my website, DM me on discord!
  </p>
</body>

</html>
