<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
  <style>
    a {
      color: blue;
    }
  </style>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header>
        <h1>Mass Upload Tool by Degen</h1>
    </header>
    <h1>Help!!!!</h1>

    <h2>Generate</h2>
    <p>Find the file you want to mass upload. (Files most likely still need to have somewhat of a bypass)</p>
  <p>
    Choose the number of variations you want downloaded, more will result in higher accept rate, but will take longer to upload them all.
  </p>
  <p>
    Click generate, check the images and download zip, and extract.
  </p>

    <h2>Frames</h2>
    <h3>You will probably need to use a web proxy such as <a href="https://bing.bizuit.com/">Rammerhead</a> to bypass Roblox's anti-iframe code.</h3>
  <p>
    (This part is only if the iframes aren't working/loading.)
  </p>
  <p>
    Create an account using the web-proxy.
  </p>
  <p>
    Open the Frames page in the web-proxy
  </p>
  <p>
    Choose the number of iframes you want, the number of variations you want to upload.
  </p>

    <h2>Roview</h2>
    <p>Use the Roblox shirt/pants template.</p>
  <p>
    Use the color pallet to change the character skin color.
  </p>
</body>

</html>
