<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Upload</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Mass Upload Tool by Degen</h1>
    </header>
    <div class="container">
        <h2>What would you like to do today?</h2>
        <div class="buttons">
            <a href="/generate" class="button-link">Generate</a>
            <a href="/roview" class="button-link">Test Clothing</a>
            <a href="/frames" class="button-link">Upload Frames</a>
            <a href="/alpha" class="button-link">Remove Alpha</a>
        </div>
    </div>
  
    <footer>
        <div class="footer-content">
            <div class="footer-buttons">
                <a href="/help" class="footer-link">Help</a>
                <a href="/about" class="footer-link">About</a>
            </div>
            <p>&copy; 2024 Cerebral Incubation. All rights reserved.</p>
            <div class="discord-button">
                <a href="https://discord.gg/H2CrGNJ84r" class="footer-link" target="_blank">Discord</a>
              <a href="https://discord.gg/H2CrGNJ84r" class="footer-link" target="_blank">Github</a>
            </div>
        </div>
    </footer>
</body>
</html>
