<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoViewer</title>
<style>
    body, html {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #fullscreen-iframe {
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 110%;
        border: none;
    }
</style>
</head>
<body>
    <iframe id="fullscreen-iframe" src="https://web.archive.org/web/20221003055828/https://roviewer.com" frameborder="0"></iframe>
</body>
</html>
